<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ducksaxophone.happytrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ducksaxophone.happytrack.ActivityTrack"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name="com.ducksaxophone.happytrack.ActivityCalendar"
            android:label="@string/title_activity_calendar"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ducksaxophone.happytrack.ActivityNotify"
            android:label="@string/title_activity_notify"
            android:theme="@style/AppTheme" />

        <receiver
            android:name="com.ducksaxophone.happytrack.AlarmReceiver"
            android:process=":remote" />

        <activity
            android:name="com.ducksaxophone.com.ducksaxophone.happytrack.ActivityAbout"
            android:label="ActivityAbout"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ducksaxophone.happytrack.ActivityAnalysis"
            android:label="@string/title_activity_analysis"
            android:theme="@style/AppTheme"></activity>
        <activity android:name="com.ducksaxophone.happytrack.ActivitySplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>